<span class="expandbtn">
    <a href="#" (click)="expandAll()" class="badge badge-dark">Expand All</a>
</span>
<span class="expandbtn">
    <a href="#" (click)="favoriteAll()" class="badge badge-dark">Favorite All</a>
</span>

<app-blog-post-view
  #view
  *ngFor="let post of blogPost[currentPage]" 
  [post]="post">
</app-blog-post-view>
<!-- <app-blog-post-view
  [post]="blogPost[0][0]" #view>
</app-blog-post-view> -->
<app-paginator (pageNbrClicked)="updatePage($event)" [numberOfPages]="blogPost.length"></app-paginator>
